.new-ide {
    width: 100%;
}

.form_idea {
    margin-top: 3%;
}

.campo_name {
    margin: 5%;
    width: 95%;
}

.campos_input {
    margin: 5%;
    width: 90%;
}

.select_input {
    margin: 5%;
    width: 90%;
}

.text_area {
    margin: 2.5%;
    width: 95%;
}

.categories_input{
    margin: 2.5%;
    width: 95%;
}

.upload_button{
    margin: 2%;
    width: 96%;
    height: 9%;    
    text-align: center;
}
.upload_image{
    border: 2px dotted  lightgrey;
    background-color: #F7F7F7;
    margin: 2%; 
    width: 600px;
    height: 360px;    
    text-align: center;
}
.input_name {
    width: 100% !important;
    height: 35px;
    border-radius: 0%;
    border: 1px solid #A6A6A6 !important;
}

.inputs {
    width: 100% !important;
    height: 35px;
    border-radius: 0%;
    border: 1px solid #A6A6A6 !important;
}

:host>>> .ui-spinner .ui-spinner-input {
    width: 100% !important;
    height: 35px;
    border-radius: 0%;
    border: 1px solid #A6A6A6 !important;
}

:host>>> .ui-multiselect{
    width: 100% !important;
    height: 36px;
    border-radius: 0%;
    border: 1px solid #A6A6A6 !important;
}
:host>>>  .ui-multiselect-filter-container{    
    border: 1px solid #A6A6A6  !important;
}



.inputText{        
    width: 222% !important;
    height: 200px !important;
  }
  
.ui-float-label {
    width: 45% !important;
}

.campo_name .ui-float-label {
    width: 90% !important;
}

.text_area.ui-float-label {
    width: 96% !important;
}

.ui-inputgroup-addon {
    border: 1px solid #A6A6A6 !important;
}

.campos_input p-message {
    margin-top: 1% !important;
}


.placeholder_file {
    cursor: pointer !important;
    text-align: center;
    color: white;
    margin-top: 8px;
    margin-left: 10px;
  }
  
  .button_file { 
    cursor: pointer !important;
    cursor: pointer; 
    position: relative;
    padding: 0%;    
    margin-left: 35%;
    width: 180px;
    height: 32px;
    background-color: #7B95A3;    
    border: 1px solid #617C8A;
    border-radius: 3%;
  }

  .button_file:hover{
      background-color:  #617C8A;
  }
  
  .input_file {  
    cursor: pointer !important;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }



  .campo_contact {
    margin: 5%;
    width: 90%;
    }
  
    .campo_contact .ui-float-label{
    width: 100% !important;
    }
  .input_contact{
    width: 41.5% !important;
    height: 35px;
    border-radius: 0%;
    border: 1px solid #A6A6A6 !important;
    }

  .show_contact {
    padding: 0%;
    margin: 0%;
    height: 35px;
}

.save_button{
    text-align: center;
}

.text_area .p-grid{
    text-align: center;
}

.campo_search{
    width: 100%;
    margin-top: 2%;     
    margin-bottom: 2%; 
}

.input_search{
    width: 70% !important;    
    height: 35px;
    border-radius: 0%;
    border: 1px solid #A6A6A6 !important;
}

.search_entrepreneurs{
    padding: 0%;
    margin: 0%;
    height: 35px;
}

.ui-card{
    width: 100% !important;
    height: 100% !important;
}