 <div class="new-idea">
        <div class="form_idea">
            <p-panel>

                <p-header>
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <label><strong> Crear idea nueva </strong></label>        
                </p-header>

        <form [formGroup]="form">
 
        <div class="p-grid">
            <div class="p-col">

                            
 <!-- Name idea-->
 <div class="campo_name">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
      <span class="ui-float-label">
        <input type="text" pInputText autocomplete="off" formControlName="name"  class="input_name">
        <label for="float-input">Nombre de la idea</label>
      </span>
    </div>

    <div *ngIf="!!validateErrorsForm.name.touched && !!validateErrorsForm.name.errors" style="margin-top: 1%">
        <p-message severity="error" text="El nombre de la idea es requerido" *ngIf="!!validateErrorsForm.name.errors.required"></p-message>        
    </div>         
  </div>

  <!-- Objective-->
  <div class="campos_input">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
          <span class="ui-float-label">
            <p-spinner size="30" formControlName="objective" [min]="1" [formatInput]="true" thosandSeparator="," decimalSeparator="." placeholder=" "></p-spinner>
            <label for="float-input">Objetivo a alcanzar</label>
          </span>
        </div>                 
      </div>


<!-- Country -->
<div class="select_input">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"> <i class="fa fa-globe" aria-hidden="true"></i> </span>
      <span class="ui-float-label">
        <p-dropdown  [options]="countries" placeholder=" " [filter]="true" formControlName="country" autowidth="false"
          [style]="{'width': '100%',  'height': '35px', 'border-radius': '0',  'border': '1px solid #A6A6A6'}">
        </p-dropdown>
        <label for="float-input">País de la idea</label>
      </span>
    </div>

    <div *ngIf="!!validateErrorsForm.country.touched && !!validateErrorsForm.country.errors" style="margin-top: 1%">              
        <p-message severity="error" text="Selecciones el país de la idea" *ngIf="!!validateErrorsForm.country.errors.required"></p-message>            
    </div>  

    
  </div>


         <!-- Contact-->
 <div class="campo_contact">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-comments" aria-hidden="true"></i></span>
          <span class="ui-float-label">
            <input type="text" pInputText autocomplete="off" formControlName="contact"  [readonly]="disabledContact" class="input_contact">
            <button pButton type="button" icon="fa fa-pencil" class="show_contact" (click)="editContact()" *ngIf="disabledContact" ></button>
            <button pButton type="button" icon="fa fa-undo" class="show_contact" (click)="reloadContact()" *ngIf="!disabledContact" ></button>
            <label for="float-input">Contacto</label>
          </span>
        </div>
    
        <div *ngIf="!!validateErrorsForm.contact.touched && !!validateErrorsForm.contact.errors" style="margin-top: 1%">
            <p-message severity="error" text="El contacto es requerido" *ngIf="!!validateErrorsForm.contact.errors.required"></p-message>        
        </div>         
      </div>
    </div>
  

      <div class="p-col">
          <div class="upload_image">
                <img *ngIf="this.showImage" src="{{this.showImage}}" alt="imagen" width="100%" height="100%"/>
          </div>
          
          <div class="button_file">
              <i class="fa fa-upload placeholder_file" aria-hidden="true"></i>
              <label class="placeholder_file">Seleccionar imagen</label>                            
              <input type="file" icon (change)="selcetImage($event)"
                  accept="image/*" style="height:100%" class="input_file"/>
          </div>
                  

        </div>
</div>

<!-- Categories-->
<div class="categories_input">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"> <i class="fa fa-tags" aria-hidden="true"></i> </span>
  <p-multiSelect [options]="categories" formControlName="categories"  maxSelectedLabels = "15" defaultLabel="Categorías">     
  </p-multiSelect>
</div> 
<div *ngIf="!!validateErrorsForm.categories.touched && !!validateErrorsForm.categories.errors" style="margin-top: 1%">
        <p-message severity="error" text="La idea debe pertenecer al menos a una categoria." *ngIf="!!validateErrorsForm.categories.errors.required"></p-message>        
    </div> 
    
</div>

<!-- Explanation-->
<div class="text_area">
        <span class="ui-float-label">
                <textarea  formControlName="explanation" pInputTextarea class="inputText"></textarea>
                <label for="float-input">Explicación de la idea</label>
            </span>
            <div *ngIf="!!validateErrorsForm.explanation.touched && !!validateErrorsForm.explanation.errors" style="margin-top: 1%">
                    <p-message severity="error" text="La idea debe tener una breve explicación." *ngIf="!!validateErrorsForm.explanation.errors.required"></p-message>        
                </div> 

  </div>
</form>

<div class="text_area">
<p-fileUpload chooseLabel="Seleccionar archivos" cancelLabel="Cancelar" [showUploadButton]="false" (onSelect)="onSelectFiles($event)" (onRemove)="onRemoveFiles($event)" (onClear)="onClearFiles()"
            multiple="multiple" accept="image/*"  maxFileSize="10485760" 
            invalidFileSizeMessageDetail="El tamaño maximo del archivo debe ser de 10 MB." invalidFileSizeMessageSummary="{0} / Error: ">
    
</p-fileUpload>
</div>

<div class="text_area">

    <h3>Emprendedores</h3>

    

  <div class="p-grid">    

    <div class="p-col">
        <p-card>
            <h3>Emprendedor</h3>
      <p><label>{{this.mainEntrepreneurs.firstName}}</label></p>
      <p><label>{{this.mainEntrepreneurs.lastName}}</label></p>
      <p><label>{{this.mainEntrepreneurs.email}}</label></p>
      <p><label>{{this.mainEntrepreneurs.country}}</label></p>            
        </p-card>
    </div>

    <div *ngFor="let user of this.entrepreneurs" class="p-col">
        <p-card>
      <h3>Emprendedor</h3>
      <p><label>{{user.firstName}}</label></p>
      <p><label>{{user.lastName}}</label></p>
      <p><label>{{user.email}}</label></p>
      <p><label>{{user.country}}</label></p>
      <p-footer>
          <button pButton type="button" label="Eliminar" icon="fa fa-times" (click)="removeentrepreneurs(user.email)"></button>          
      </p-footer>
    </p-card>
    </div>
    
  </div>

  <div class="campo_search">                  
      <span class="ui-float-label">
        <input type="text" pInputText autocomplete="off" [(ngModel)]="this.emailUser" class="input_search">
        <button pButton type="button" icon="fa fa-search" class="search_entrepreneurs" (click)="searchEntrepreneursByEmail(this.emailUser)" ></button>                
        <label for="float-input">Agregar emprendedor</label>
      </span>                          
  </div>
</div>


<p-footer>
<div class="save_button">
<button pButton type="button" icon="fa fa-check" label="Crear idea" (click)="saveIdea()" class="ui-button-success"></button>
</div>
</p-footer>

</p-panel>
</div>
</div>