.container{
    margin: 3%;
    width: 94%;
    height: 94%; 
}

.idea{
    width: 100%;
    height: 100%;
}

:host >>> .ui-card{
    width: 400px;
    height: 800px;
    padding: 0px;
}

.image{      
    width: 373px;
    height: 350px;    
}

.button{
    text-align: right;
    margin: 2%; 
}

.title{              
    margin-top: 5px;
    color: #007AD9;
    font-size: 20px;

}

.header h1{
    text-align: center;    
}

.body{        
    height: 330px;
    width: 100%;
    overflow-y: scroll;
}
.footer{
    margin-left: 3%;
    margin-top: 3%; 
    height: 110px;
}

