<div class="container">


  <div class="p-grid">

    <div class="p-col"  *ngFor="let idea of this.ideas">


        <p-card>
            <div class="idea">
                <div class="image">
                    <img *ngIf="idea?.principalImage"
                      src="http://localhost:8080/api/document/show-image/{{idea.principalImage}}" alt="" width="100%"
                      height="100%" />
                  </div>
        
                  <div style="height: 120px">
                      <label class="title"> {{idea.name}} </label>                                          
                      <p *ngFor="let user of idea.entrepreneurs"> <i class="fa fa-user" aria-hidden="true"></i> {{user.firstName}} {{user.lastName}}  </p> 
                       <p><i class="fa fa-globe" aria-hidden="true"></i>  {{idea.country}}  </p>
                  </div>                      
        
                      <p style="text-align: justify; height: 220px;"> {{idea.description}} </p>
        
                       <p-progressBar [showValue] = "true" [value]="idea.progress"></p-progressBar>
        
                      <p> <i class="fa fa-line-chart" aria-hidden="true"></i>  {{idea.fundRaised| number : fractionSize}} COP recaudado de: {{idea.objective | number : fractionSize}} COP</p>
        
                      <div class="button">
                        <button pButton type="button" icon="fa fa-search-plus" label="Conocer mas"
                          [routerLink]="['/show-idea', idea.id]"></button>
                      </div>                           
            </div>
          </p-card>

    </div>

  </div>
  


</div>