<button type="button" (click)="getAllIdeas()">buscar</button>

<p-dataView [value]="this.ideas" [paginator]="true" [rows]="10">
    <p-header>                                    
                    <p-dropdown  placeholder="Sort By"  [style]="{'min-width':'140px'}"></p-dropdown>                
    </p-header>

  <ng-template let-idea pTemplate="listItem">
    <div>
      <p-card>
        <div class="image">
        <img *ngIf="idea?.principalImage"  src="http://localhost:8080/api/document/show-image/{{idea.principalImage}}" alt="" width="100%" height="100%"/>
      </div>
          {{idea.name}}
      </p-card>
    </div>
  </ng-template>
</p-dataView>
