.container{
    margin: 3%;
    width: 94%;
    height: 94%; 
}

.idea{
    margin: 3%;
    
    background-color: #F7F7F7;
}

.image{
    margin-left: 4%; 
    margin-top: 8%;     
    width: 550px;
    height: 450px;
    border: 1px solid #617C8A;
}

.button{
    text-align: right;
    margin: 2%; 
}

.title{              
    color: white;
    background-color: #617C8A;
    border-radius: 2%;

}

.header h1{
    text-align: center;    
}

.body{        
    height: 330px;
    width: 100%;
    overflow-y: scroll;
}
.footer{
    margin-left: 3%;
    margin-top: 3%; 
    height: 110px;
}

